<!DOCTYPE html>
<html>
    <head>
        <title>WebSocket Seatmap</title>
    </head>
    <body>
        <h1>Trip {{id}}</h1>
        <div>
            <table>
              <tr>
                  <th>x</th>
                  {% for litera in seat_map.literas %}
                    <th>{{ litera }}</th>
                  {% endfor %}
              </tr>
                {% for row_num, row in seat_map.rows.items() %}
                <tr>
                    <td><b>{{row_num}}</b></td>
                    {% for seat in row %}
                        {% if seat.status == 'Available'%} <td id="{{seat.id}}" class="seat" style="color:green">O</td>
                        {% elif seat.status == 'Ordered'%} <td id="{{seat.id}}" class="seat" style="color:red"><b>$</b></td>
                        {% else %} <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Order seat</button>
        </form>
        <ul id='messages'>
        </ul>
        <script>
            var trip_id = window.location.pathname.split('/').pop();
            var ws = new WebSocket("ws://{{settings.host}}:{{settings.port}}/ws/".concat(trip_id));

            ws.onmessage = function(event) {
                var data = JSON.parse(event.data);
                console.log(JSON.parse(event.data));
                if (data["type"] == "order") {
                    console.log("Received order");
                    var seat = document.getElementById(data.seat)
                    console.log(seat);
                    seat.innerHTML = "<b>$</b>"
                    seat.style = "color:red"
                }
            };

            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(JSON.stringify({"type": "order", "seat": input.value, "trip_id": trip_id}))
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>