<!DOCTYPE html>
<html>
    <head>
        <title>WebSocket Seatmap</title>
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="wrapperTrip">
            <h1>Trip {{id}}</h1>
            {% for seat_map_block in seat_map %}
            <div class="wrapperSeat">
                <h3>{{ seat_map_block.label }}</h3>
                <table>
                <tr>
                    <th>x</th>
                    {% for litera in seat_map_block.literas %}
                        <th>{{ litera }}</th>
                    {% endfor %}
                </tr>
                    {% for row in seat_map_block.rows %}
                    <tr>
                        <td><b>{{ row.num }}</b></td>
                        {% for i in range(row.seats|length) %}
                            {% if row.seats[i] == 'O'%}
                                <td id="{{ seat_map_block.literas[i] }}{{ row.num }}"
                                    class="seat"
                                    style="color:green">
                                    O
                                </td>
                            {% elif row.seats[i] == '$'%}
                                <td id="{{ seat_map_block.literas[i] }}{{ row.num }}"
                                    class="seat"
                                    style="color:red">
                                    <b>$</b>
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endfor %}
        </div>

        <h3>Order your seat now!</h3>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Order seat</button>
        </form>

        <ul id='messages'>
        </ul>
        <script>
            var trip_id = window.location.pathname.split('/').pop();
            var ws = new WebSocket("ws://{{settings.host}}:{{settings.port}}/ws/".concat(trip_id));

            ws.onmessage = function(event) {
                var data = JSON.parse(event.data);
                console.log(JSON.parse(event.data));
                if (data["type"] == "order") {
                    console.log("Received order");
                    var seat = document.getElementById(data.seat)
                    console.log(seat);
                    seat.innerHTML = "<b>$</b>"
                    seat.style = "color:red"
                }
                else if (data["type"] == "error") {
                    console.log("Received error");
                    alert(data["descr"]);
                }
            };

            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(JSON.stringify({"type": "order", "seat": input.value, "trip_id": trip_id}))
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>